In [52]:
# Source: https://github.com/prestinomills/aqueduct/blob/Know_Your_Community_Pipelines/civis/geohub/ActiveBusinessBlockgroupAggregation/Active_Business_Finalized_Script.py
# %load active_business_script.py
"""
Created on Wed May  1 08:51:03 2019
@author: myrfid041
"""
import geopandas as gpd
import os
import pandas as pd

import esri_credentials

from sodapy import Socrata
from arcgis.gis import GIS
from arcgis.features.summarize_data import join_features
from IPython.display import display
from arcgis.features import FeatureLayer, FeatureLayerCollection, FeatureCollection, SpatialDataFrame


#---Setting the Outputs
OUTPUT_FILE = "./Listing_of_Active_Businesses.csv"
output_layer_name = "a7236cc62ded454c94a64e9d80d6304a"
max_record_count = 250_000

df = pd.read_pickle("./cleaned_df.p")

lahub_user = esri_credentials.preston_user
lahub_pass = esri_credentials.preston_pw

In [54]:
gis = GIS('https://lahub.maps.arcgis.com',  username=lahub_user, password=lahub_pass)

flayer = gis.content.get(output_layer_name)

ActiveBusinesses_flayer = flayer.layers[0].query()
existing_table = ActiveBusinesses_flayer.sdf

In [11]:
updated_table = pd.merge(
    existing_table[["OBJECTID", "GEOID10", "SHAPE"]],
    # Rename columns to match, drop columns not in layer
    # ESRI renamed the geometry to be SHAPE...and it's stored slightly different than in geodataframe
    (df.drop(columns = ["geometry"])
    ), 
    on = "GEOID10", 
    how = "inner")

In [93]:
new_updated_table = df[["GEOID10"] + list(layer_rename_columns_dict.values())]

,GEOID10,Accommodation_and_Food_Services,Administrative_and_Support_and_,Agriculture__Forestry__Fishing_,Arts__Entertainment__and_Recrea,Construction,Educational_Services,Finance_and_Insurance,Health_Care_and_Social_Assistan,Information,...,Medical_Marijuana_Collective,Mining,Not_Classified,Other_Services__except_Public_A,Professional__Scientific__and_T,Real_Estate_Rental_and_Leasing,Retail_Trade,Transportation_and_Warehousing,Utilities,Wholesale_Trade
0,060372932023,19,17,1,1,17,1,1,4,2,...,5,0,1,27,8,58,33,6,0,34
1,060372941201,0,0,0,0,0,0,0,0,0,...,0,0,0,3,2,2,3,5,0,4
2,060372932022,1,12,1,1,2,0,0,1,1,...,0,0,1,8,2,29,4,2,0,2
3,060372932021,0,2,0,1,5,0,0,1,1,...,0,0,1,1,6,7,4,0,0,2
4,060372941101,0,8,1,1,3,0,0,1,0,...,0,0,0,8,2,9,2,1,0,0

In [20]:
feature_list = ActiveBusinesses_flayer.features

In [31]:
#ActiveBusinesses_flayer.fields

In [30]:
table_as_dict = ActiveBusinesses_flayer.to_dict()

In [40]:
for key, value in table_as_dict.items():
    print(key)
    #print(table_as_dict[key][0])

features
objectIdFieldName
globalIdFieldName
spatialReference
geometryType
fields

In [94]:
test_table = new_updated_table.head(3)
test_table

,GEOID10,Accommodation_and_Food_Services,Administrative_and_Support_and_,Agriculture__Forestry__Fishing_,Arts__Entertainment__and_Recrea,Construction,Educational_Services,Finance_and_Insurance,Health_Care_and_Social_Assistan,Information,...,Medical_Marijuana_Collective,Mining,Not_Classified,Other_Services__except_Public_A,Professional__Scientific__and_T,Real_Estate_Rental_and_Leasing,Retail_Trade,Transportation_and_Warehousing,Utilities,Wholesale_Trade
0,060372932023,19,17,1,1,17,1,1,4,2,...,5,0,1,27,8,58,33,6,0,34
1,060372941201,0,0,0,0,0,0,0,0,0,...,0,0,0,3,2,2,3,5,0,4
2,060372932022,1,12,1,1,2,0,0,1,1,...,0,0,1,8,2,29,4,2,0,2

In [95]:
test_dict = test_table.set_index("GEOID10").to_dict(orient="index")
test_dict.keys()

dict_keys(['060372932023', '060372941201', '060372932022'])

In [102]:
for k, v in test_dict['060372932023'].items():
    print(k)

Accommodation_and_Food_Services
Administrative_and_Support_and_
Agriculture__Forestry__Fishing_
Arts__Entertainment__and_Recrea
Construction
Educational_Services
Finance_and_Insurance
Health_Care_and_Social_Assistan
Information
Manufacturing
Medical_Marijuana_Collective
Mining
Not_Classified
Other_Services__except_Public_A
Professional__Scientific__and_T
Real_Estate_Rental_and_Leasing
Retail_Trade
Transportation_and_Warehousing
Utilities
Wholesale_Trade

In [101]:
test_dict['060372932023']["Accommodation_and_Food_Services"]

19

In [96]:
for k, v in test_dict["060372932023"].items():
    print(v)

19
17
1
1
17
1
1
4
2
10
5
0
1
27
8
58
33
6
0
34

In [60]:
for i in range(0, 2):
    print(f"*****Obs: {i}*****")
    obs = table_as_dict["features"][i]
    print("Keys")
    print(obs["attributes"].keys())
    print("Values")
    print(obs["attributes"].values())

*****Obs: 0*****
Keys
dict_keys(['OBJECTID', 'GEOID10', 'CTBG10', 'CT10', 'AreaSqMil', 'LABEL', 'FIP10', 'FIP10RV', 'CDP_NAME', 'CITYNAME', 'COMMNAME', 'Accommodation_and_Food_Services', 'Administrative_and_Support_and_', 'Agriculture__Forestry__Fishing_', 'Arts__Entertainment__and_Recrea', 'Construction', 'Educational_Services', 'Finance_and_Insurance', 'Health_Care_and_Social_Assistan', 'Information', 'Manufacturing', 'Medical_Marijuana_Collective', 'Mining', 'Not_Classified', 'Other_Services__except_Public_A', 'Professional__Scientific__and_T', 'Real_Estate_Rental_and_Leasing', 'Retail_Trade', 'Transportation_and_Warehousing', 'Utilities', 'Wholesale_Trade', 'SHAPE'])
Values
dict_values([1, '060372932023', '2932023', '293202', 0.2272, 'BG 3', '44000', '44000', 'Los Angeles', 'Los Angeles', 'LA City - Harbor City', 9, 20, 0, 22, 19, 2, 3, 19, 7, 6, 0, 0, 0, 21, 21, 21, 26, 6, 0, 25, {'rings': [[[6470819.15699448, 1756917.22135057], [6470821.72883973, 1756760.7246163], [6470823.80495106, 1756641.71402755], [6470821.00607213, 1756619.88664339], [6470797.9122863, 1755902.65284164], [6470784.19052897, 1755476.89745957], [6470759.39530297, 1754698.89245389], [6470992.08479822, 1754595.20893423], [6470991.34529838, 1754550.81171331], [6470990.93125722, 1754513.69236498], [6470946.40378723, 1754556.76806623], [6470359.37084055, 1754817.27115415], [6470113.03307864, 1754926.82310039], [6469178.96572106, 1755341.60507923], [6468440.89206597, 1755669.5657094], [6467866.94669156, 1755924.61769272], [6467832.66723256, 1755939.64390939], [6467826.90379263, 1755942.20919298], [6467826.70628648, 1755976.78294273], [6467825.58260106, 1756401.85459915], [6467824.58096264, 1756668.9810334], [6467821.61935438, 1757088.96346115], [6467819.32506764, 1757429.60746489], [6467818.65774614, 1757508.94588889], [6467824.73253714, 1757508.92718814], [6467858.75116989, 1757508.45868514], [6468619.01802206, 1757502.4928178], [6469418.7713438, 1757496.06271257], [6469418.84385023, 1757520.08202147], [6470090.1420483, 1757321.53976764], [6470493.47063798, 1757202.05608273], [6470552.93935105, 1757179.67883089], [6470610.26666422, 1757152.21333465], [6470665.1487723, 1757119.66025014], [6470687.58212639, 1757104.67209114], [6470687.46696913, 1757066.09605281], [6470715.40129647, 1757062.37361932], [6470759.34543431, 1757028.76148181], [6470792.91032781, 1756977.71171515], [6470819.15699448, 1756917.22135057]]], 'spatialReference': {'wkid': 102645, 'latestWkid': 2229}}])
*****Obs: 1*****
Keys
dict_keys(['OBJECTID', 'GEOID10', 'CTBG10', 'CT10', 'AreaSqMil', 'LABEL', 'FIP10', 'FIP10RV', 'CDP_NAME', 'CITYNAME', 'COMMNAME', 'Accommodation_and_Food_Services', 'Administrative_and_Support_and_', 'Agriculture__Forestry__Fishing_', 'Arts__Entertainment__and_Recrea', 'Construction', 'Educational_Services', 'Finance_and_Insurance', 'Health_Care_and_Social_Assistan', 'Information', 'Manufacturing', 'Medical_Marijuana_Collective', 'Mining', 'Not_Classified', 'Other_Services__except_Public_A', 'Professional__Scientific__and_T', 'Real_Estate_Rental_and_Leasing', 'Retail_Trade', 'Transportation_and_Warehousing', 'Utilities', 'Wholesale_Trade', 'SHAPE'])
Values
dict_values([2, '060372941201', '2941201', '294120', 0.3144, 'BG 1', '44000', '44000', 'Los Angeles', 'Los Angeles', 'LA City - Wilmington', 0, 4, 0, 2, 3, 1, 0, 1, 0, 1, 0, 0, 1, 2, 0, 1, 2, 1, 0, 1, {'rings': [[[6486934.53913373, 1749706.32468314], [6487023.32373305, 1748117.92300431], [6487008.43399905, 1748117.23173273], [6487036.4447698, 1747643.32815298], [6487054.82695089, 1747332.12405097], [6486230.97098705, 1747283.92565656], [6485354.53835672, 1747232.60522114], [6485373.77978805, 1746907.20495331], [6485391.27023864, 1746610.55922115], [6485405.26824214, 1746375.42616123], [6485388.25843364, 1746378.01605105], [6485284.99256405, 1746396.47041048], [6484779.35053071, 1746509.10141881], [6484670.02266538, 1746533.39631772], [6484504.81728713, 1746570.2059554], [6484486.47053905, 1746885.41497065], [6484301.3203188, 1746844.75921206], [6484136.90824606, 1746834.25824881], [6483802.31147431, 1746813.63788323], [6483788.34562297, 1747056.41397248], [6483767.96607055, 1747405.47364181], [6483753.71347439, 1747654.80122714], [6483739.15838538, 1747904.49364114], [6483724.60329638, 1748154.18605514], [6483644.85181548, 1749524.58128023], [6483707.14532605, 1749528.06126015], [6484304.86460306, 1749563.29806632], [6484357.47243747, 1749581.36135039], [6484424.32400981, 1749585.19533223], [6484836.37207022, 1749608.17527315], [6486918.19467822, 1749731.83972397], [6486928.78848906, 1749715.43686965], [6486934.53913373, 1749706.32468314]]], 'spatialReference': {'wkid': 102645, 'latestWkid': 2229}}])

In [51]:
table_as_dict["features"][10]["attributes"]["GEOID10"]

'060371033001'

In [46]:
table_as_dict["fields"]

[{'alias': 'OBJECTID',
  'defaultValue': None,
  'domain': None,
  'name': 'OBJECTID',
  'sqlType': 'sqlTypeInteger',
  'type': 'esriFieldTypeOID'},
 {'alias': 'GEOID10',
  'defaultValue': None,
  'domain': None,
  'length': 12,
  'name': 'GEOID10',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'CTBG10',
  'defaultValue': None,
  'domain': None,
  'length': 7,
  'name': 'CTBG10',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'CT10',
  'defaultValue': None,
  'domain': None,
  'length': 6,
  'name': 'CT10',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'AreaSqMil',
  'defaultValue': None,
  'domain': None,
  'name': 'AreaSqMil',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'LABEL',
  'defaultValue': None,
  'domain': None,
  'length': 4,
  'name': 'LABEL',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'FIP10',
  'defaultValue': None,
  'domain': None,
  'length': 5,
  'name': 'FIP10',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'FIP10RV',
  'defaultValue': None,
  'domain': None,
  'length': 5,
  'name': 'FIP10RV',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'CDP_NAME',
  'defaultValue': None,
  'domain': None,
  'length': 30,
  'name': 'CDP_NAME',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'CITYNAME',
  'defaultValue': None,
  'domain': None,
  'length': 30,
  'name': 'CITYNAME',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'COMMNAME',
  'defaultValue': None,
  'domain': None,
  'length': 50,
  'name': 'COMMNAME',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'Accommodation and Food Services',
  'defaultValue': None,
  'domain': None,
  'name': 'Accommodation_and_Food_Services',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Administrative and Support and Waste Management and Remediation Services',
  'defaultValue': None,
  'domain': None,
  'name': 'Administrative_and_Support_and_',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Agriculture, Forestry, Fishing and Hunting',
  'defaultValue': None,
  'domain': None,
  'name': 'Agriculture__Forestry__Fishing_',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Arts, Entertainment, and Recreation',
  'defaultValue': None,
  'domain': None,
  'name': 'Arts__Entertainment__and_Recrea',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Construction',
  'defaultValue': None,
  'domain': None,
  'name': 'Construction',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Educational Services',
  'defaultValue': None,
  'domain': None,
  'name': 'Educational_Services',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Finance and Insurance',
  'defaultValue': None,
  'domain': None,
  'name': 'Finance_and_Insurance',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Health Care and Social Assistance',
  'defaultValue': None,
  'domain': None,
  'name': 'Health_Care_and_Social_Assistan',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Information',
  'defaultValue': None,
  'domain': None,
  'name': 'Information',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Manufacturing',
  'defaultValue': None,
  'domain': None,
  'name': 'Manufacturing',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Medical Marijuana Collective',
  'defaultValue': None,
  'domain': None,
  'name': 'Medical_Marijuana_Collective',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Mining',
  'defaultValue': None,
  'domain': None,
  'name': 'Mining',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Not Classified',
  'defaultValue': None,
  'domain': None,
  'name': 'Not_Classified',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Other Services (except Public Administration)',
  'defaultValue': None,
  'domain': None,
  'name': 'Other_Services__except_Public_A',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Professional, Scientific, and Technical Services',
  'defaultValue': None,
  'domain': None,
  'name': 'Professional__Scientific__and_T',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Real Estate Rental and Leasing',
  'defaultValue': None,
  'domain': None,
  'name': 'Real_Estate_Rental_and_Leasing',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Retail Trade',
  'defaultValue': None,
  'domain': None,
  'name': 'Retail_Trade',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Transportation and Warehousing',
  'defaultValue': None,
  'domain': None,
  'name': 'Transportation_and_Warehousing',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Utilities',
  'defaultValue': None,
  'domain': None,
  'name': 'Utilities',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'},
 {'alias': 'Wholesale Trade',
  'defaultValue': None,
  'domain': None,
  'name': 'Wholesale_Trade',
  'sqlType': 'sqlTypeDecimal',
  'type': 'esriFieldTypeDouble'}]

In [ ]:
activebiz_flayer = flayer.layers[0]
layer_fset = activebiz_flayer.query()
features_for_update = [] #list containing corrected features
all_features = layer_fset.features
original_feature = [f for f in all_features if f.attributes['GEOID10'] == GEOID10][0]

In [ ]:
item_props = {'title' : 'Active Businesses TEST', 'description': 'here is description'}
flayer.update(item_properties = item_props, data = "./updated_data.csv")

In [ ]:
# Upload new item to begin with
#item_prop = {"title": "ActiveBizTest"}
#gis.content.add(item_properties=item_prop, data="./upload_me.csv")

In [ ]:
activebiz_flayer = flayer.layers[0]
layer_fset = activebiz_flayer.query()
features_for_update = [] #list containing corrected features
all_features = layer_fset.features

In [87]:
layer_rename_columns_dict = {
    'Accommodation and Food Services': 'Accommodation_and_Food_Services',
    'Administrative and Support and Waste Management and Remediation Services': 'Administrative_and_Support_and_',
    'Agriculture, Forestry, Fishing and Hunting': 'Agriculture__Forestry__Fishing_',
    'Arts, Entertainment, and Recreation': 'Arts__Entertainment__and_Recrea',
    'Construction': 'Construction',
    'Educational Services': 'Educational_Services',
    'Finance and Insurance': 'Finance_and_Insurance',
    'Health Care and Social Assistance': 'Health_Care_and_Social_Assistan',
    'Information': 'Information',
    'Manufacturing': 'Manufacturing',
    'Medical Marijuana Collective': 'Medical_Marijuana_Collective',
    'Mining': 'Mining',
    'Not Classified': 'Not_Classified',
    'Other Services (except Public Administration)': 'Other_Services__except_Public_A',
    'Professional, Scientific, and Technical Services': 'Professional__Scientific__and_T',
    'Real Estate Rental and Leasing': 'Real_Estate_Rental_and_Leasing',
    'Retail Trade': 'Retail_Trade',
    'Transportation and Warehousing': 'Transportation_and_Warehousing',
    'Utilities': 'Utilities',
    'Wholesale Trade': 'Wholesale_Trade'                                               
}

In [ ]:
wrong_geoid = ["060375722021"]
overlap_rows[overlap_rows.GEOID10.isin(wrong_geoid)]

In [ ]:
df[df.GEOID10.isin(wrong_geoid)]

In [ ]:
#https://developers.arcgis.com/python/sample-notebooks/updating-features-in-a-feature-layer/
from copy import deepcopy

overlap_rows = df[df.GEOID10.isin(layer_fset.sdf.GEOID10)]
overlap_rows.to_csv("./upload_csv", index=False)

csv_table = pd.read_csv("./upload_me.csv", dtype = {"GEOID10": "str"})

for GEOID10 in overlap_rows['GEOID10']:
    print(GEOID10)
    # get the feature to be updated
    original_feature = [f for f in all_features if f.attributes['GEOID10'] == GEOID10][0]
    feature_to_be_updated = deepcopy(original_feature)

    # get the matching row from csv
    matching_row = csv_table.where(overlap_rows.GEOID10 == GEOID10).dropna()
    print("Matching Row")
    display(matching_row)
    # assign the updated values
    
    for col in layer_rename_columns_dict.values():
        try:
            feature_to_be_updated.attributes[col] = matching_row[col].values[0]
        except:
            print(GEOID10)
            print(col)
            display(feature_to_be_updated.attributes[col])
            display(matching_row[col])

In [ ]:
flayer_collection.manager.update_definition({"maxRecordCount": max_record_count})